body {
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);
  font-family: 'Fira Sans', sans-serif;
}
.pad {
  width: 1.4em; 
  height: 1.4em; 
  margin-bottom: 0em;
  display: inline-block; 
  background: #DADADA; 
  margin-right: 0em; 
  cursor: pointer;
}


.pad3 {
  width: 1.4em; 
  height: 1.4em; 
  margin-bottom: 0em;
  display: inline-block; 
  background: #97ffd6; 
  margin-right: 0em; 
  cursor: pointer;
}

.selected {
  background: #97ffd6;
}

.selected3 {
  background: #DADADA;
}

.playing {
  background: #b0f7ff;
}

.playing.selected {
  background: #ffb0f7; 
}

.pink{
  color: #ffb0f7; 
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#play-pause {
  margin: 10px 0;
}

#play-pause :hover{
  color: #ffb0f7 ;
}

.control {
  margin: 10px 0;
}

#plus-minus :hover{
  color: #ffb0f7 ;
}

#record-stop :hover{
  color: #ffb0f7 ;
}

.instrument-label {
    display: inline-block;
    vertical-align: top;
    width: 3em;
    position: relative;
    top: 1em;
    text-align: right;
    margin-right: 0.5em;
    font-size:.8em;
}

.tempo-container {
margin-right:10px;
margin-bottom:10px;}

#tempo-input {
  margin-bottom:10px;
  line-height: 30px;
  border-radius: 0px;
  font-size: 2.8em;
  width: 100px;
  vertical-align: middle;
}

.tempo-btn {
  margin: 0 5px;
}

.feedbackDelay{
      width: 100%;
}
.container{
  margin-right: 0px;
  margin-left: 0px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #97ffd6;
    height:20px;
    padding: 0px;
    margin:0px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ffb0f7;
    opacity: 0.9;
    width: 20px;
    height: 20px;
    border:none;
}

input {

    -webkit-appearance: none !important;
   
   -webkit-border-radius:0px !important; 

    border-radius: 0 !important;

}